body{
    font-family: Nunito;
    background-image: url("../images/bg.png");
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    font-weight: 500;
}

.container .col-lg-5{
    top: 24vh;
    margin: 0 auto;
}

.card{
    border-radius: 2px;
    border: 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23)
}

.card h5 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom:0;
    color: #666;
    padding: 16px 16px 0 16px;
}

a, a:hover{
    font-size: 15px;
    color: steelblue;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s all ease;
}

a:hover{
    color: #666666;
}

i{
    margin: auto 8px;
    color: steelblue;
    font-size: 28px;
    transition: 0.2s all ease;
}

p{
    font-size: 14px;
    font-weight: 600;
    color:#666;
}

i:hover{
    color:#666666;
}

span{
    cursor: pointer;
    transition: 0.2s all ease;
}

span:hover{
    color: #4285F4;
}

.email{
    padding: 0 16px 16px 16px;
}