@font-face {
    font-family: GilroyBold;
    src: url('../fonts/Gilroy-ExtraBold.otf');
  }

  @font-face {
    font-family: GilroyLight;
    src: url('../fonts/Gilroy-Light.otf');
  }


body{
    font-family: GilroyLight;
    background-color: #424242;
    background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
}

.card{
    background: #323232;
    background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
    border-radius: 3px;
    border: 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.2s all ease;
}

h1,h2,h3,h4,h5,h6,a,p{
    color: #ffffff;
    font-size: 1em;
}

h2{
    font-size: 1.2em;
    font-family: GilroyBold;
}

.card:hover{
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.16), 0px 5px 10px rgba(0, 0, 0, 0.23)
}

hr{
    background: #cccccc;
    opacity: 0.5;
}

a, a:hover{
    text-decoration: none;
    transition: 0.2s all ease;
}

a:hover{
    color: #4285F4;
}