@font-face {
  font-family: GoogleSansBd;
  src: url("../fonts/GoogleSansDisplay-Bold-v1.27.ttf");
}

@font-face {
  font-family: GoogleSansRg;
  src: url("../fonts/GoogleSansDisplay-Regular-v1.27.ttf");
}

@font-face {
  font-family: GoogleSansMd;
  src: url("../fonts/GoogleSansDisplay-Medium-v1.27.ttf");
}

body {
  font-family: GoogleSansRg;
  background-color: #202326;
  overflow-x: hidden;
  background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
}

.fontBd {
  font-family: GoogleSansBd;
}

.fontMd {
  font-family: GoogleSansMd;
}

.fontRG {
  font-family: GoogleSansRg;
}

.top-section {
  padding-top: 10%;
}

.card {
  background: #323232;
  background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
  border-radius: 3px;
  border: 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s all ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: #ffffff;
}

.download-resume {
  padding: 12px 24px;
  background: #3c83da;
  transition: 0.2s all linear;
}

.download-resume:hover {
  background: #d5d5d5;
  color: #3c83da;
}

.social-section {
  float: right;
}

.social-section a {
    margin-right: 24px;
}

.card:hover {
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.16), 0px 5px 10px rgba(0, 0, 0, 0.23);
}

a,
a:hover {
  text-decoration: none;
  transition: 0.2s all linear;
}

.not-white {
    color: #3c83da;
}

a:hover {
  color: #3c83da;
}

.fa:hover {
    transition: 0.2s all linear;
    color: #3c83da!important;
}